backend/backend/__pycache__/settings.cpython-37.pyc
Pipfile
Pipfile.lock
backend/backend/__pycache__/__init__.cpython-37.pyc
backend/backend/__pycache__/urls.cpython-37.pyc
.idea/misc.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/Assassery.iml
