# Python
__pycache__
.venv/

# Jetbrains IDEs
.idea/

# Misc
.DS_Store

# Frontend
frontend/node_modules
npm-debug.log
webpack-stats.dev.json
frontend/package-lock.json

# messenger/vars.py
vars.py
db.sqlite3