#kills {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#kills td, #kills th {
  border: 1px solid #ddd;
  padding: 8px;
}

#kills tr:nth-child(even){background-color: #f2f2f2;}

#kills tr:hover {background-color: #ddd;}

#kills th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #7a0707;
  color: white;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}