@import 'vars';

.loginForm {
    width: 95%;
    margin-top: 5rem;
}

#loginTitle {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.error {
    background-color: $errorred;
    padding: 0.2em;
}

input[type=text], input[type=password] {
    width: 100%;
    font-size: 1.25rem;
    padding: .7em;
    border: 1px solid $tablebordergray;
    box-sizing: border-box;
    resize: vertical;
    display: block;
    margin: 0 auto;
}

label {
    display: block;
    text-align: left;
}

input[type=submit] {
    width: 100%;
    font-size: 1.25rem;
    background-color: $ultraviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: .1rem;
    cursor: pointer;
    display: block;
    margin: 0.25cm auto;
}
