@import 'vars';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $navbarheight;
    transition: all ease $navtransitiontiming;
    font-size: 1em;

    .nav-list {
        position: fixed;
        list-style-type: none;
        display: block;
        width: 100%;
        height: $navbarheight;
        top: 0;
        margin: 0;
        padding: 0;
        overflow: visible;
        background-color: $darkgray;
        z-index: 1;
        transition: all ease $navtransitiontiming;

        li {
            a {
                background-color: $darkgray;
                display: block;
                line-height: $navbarlinkheight;
                height: $navbarlinkheight;
                color: white;
                padding-left: $navbarlinkpadding;
                padding-right: $navbarlinkpadding;
                padding-top: 0;
                font-family: "Droid Sans Mono", monospace;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                transition: all ease $navtransitiontiming;
            }

            .lighter {
                background-color: $lightergray;
            }
            
            .ham-link {
                display: flex;
                align-items: center;
            }

            a:hover {
                background-color: $selectgray;
            }
        }

        .link {
            display: none;
        }

        .logo {
            a {
                margin: 0 auto;
                padding: 0;
                display: flex;
                height: $navbarheight;
                align-items: center;
                text-decoration: none;
                cursor: pointer;

                img {
                    margin: 0 auto;
                }
            }

            a:hover {
                background-color: $selectgray;
            }
        }

        .menu {
            float: right;
            height: $navbarheight;
            a {
                height: $navbarheight;
            }
        }

        @include medium() {
            li {
                float: right;
            }

            .logo {
                float: left;
                margin-left: 1em;
            }
            .link {
                display: block;

                a {
                    height: $navbarheight;
                    line-height: $navbarheight;
                }
            }

            .menu {
                display: none;
            }

            li .lighter {
                background-color: $darkgray;
            }
        }
    }

    @include small() {
        .open {
            position: relative;
            width: 100%;

            .link {
                width: 100%;
                float: left;
                display: block;
            }
        }
    }
}

#hamburger {
    transition: all ease $navtransitiontiming;
    cursor: pointer;
    margin: 1% 2%;
    vertical-align: middle;
}

#hamburger:hover { opacity: .8; }

.bar1, .bar2, .bar3 {
    width: 2.4rem;
    height: .4rem;
    background-color: rgba(255, 255, 255, .8);
    margin: .4rem 0;
    transition: $navtransitiontiming;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-.4rem, .4rem) ;
    transform: rotate(-45deg) translate(-.6rem, .6rem) ;
}

.change .bar2
 { opacity: 0; }

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-.5rem,-.5rem) ;
    transform: rotate(45deg) translate(-.5rem,-.5rem) ;
}
