@import 'vars';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $navbarheight;

    .nav-list {
        position: fixed;
        list-style-type: none;
        display: block;
        width: 100%;
        height: $navbarheight;
        top: 0;
        margin: 0;
        padding: 0;
        overflow: visible;
        background-color: $darkgray;

        li {
            float: right;

            a {
                background-color: $darkgray;
                display: block;
                line-height: $navbarlinkheight;
                height: $navbarlinkheight;
                color: white;
                padding-left: $navbarlinkpadding;
                padding-right: $navbarlinkpadding;
                font-family: "Droid Sans Mono", monospace;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
            }

            a:hover {
                background-color: $selectgray;
            }
        }

        .link {
            display: none;
        }

        .logo {
            float: left;

            a {
                z-index: 100;
                padding: 0;
                display: flex;
                height: $navbarheight;
                align-items: center;
                text-decoration: none;
                cursor: pointer;
            }

            a:hover {
                background-color: $selectgray;
            }
        }

        .menu {
            a {
                height: $navbarheight;
            }
        }

        @include medium() {
            .link {
                display: block;

                a {
                    height: $navbarheight;
                    line-height: $navbarheight;
                }
            }

            .menu {
                display: none;
            }
        }
    }

    @include small() {
        .open {
            position: relative;
            width: 100%;

            .link {
                width: 100%;
                float: left;
                display: block;
            }
        }
    }
}

