@import 'vars';

.registerForm {
    width: 95%;
    max-width: 65rem;
    margin-top: 5rem;
    margin: auto;
    float: left;

    @include large() {
        padding: 1rem;
        border: 2px solid $averypurple;
        border-radius: 5%;
        box-sizing: border-box;
    }
}

#registerTitle {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#photo {
    @include small() {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    @include large() {
        width: 80%;
        margin: auto;
    }
    max-width: 100%;
    border-radius: 15%;
    display: block;
    background: $pastelpurple;
}

input[type=text], input[type=password] {
    width: 100%;
    font-size: 1.25rem;
    padding: .7em;
    border: 1px solid $tablebordergray;
    box-sizing: border-box;
    resize: vertical;
    display: block;
    margin: 0 auto;
}

label {
    display: block;
    text-align: left;
}

.image-upload {
    input {
        display: none;
    }
}

.image-form {
    @include large() {
        display: inline-block;
        float: right;
        padding: 1em;
        width: 45%;
    }
}

input[type=submit] {
    width: 100%;
    font-size: 1.25rem;
    background-color: $ultraviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: .1rem;
    cursor: pointer;
    display: block;
    margin: 0.25cm auto;
}

.text-form {
    @include large() {
        display: inline-block;
        float: left;
        padding: 1em;
        width: 45%;
    }
}

@include large() {
    .outer {
        display: table;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .inner {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        min-width: $smallwidth;
    }
}
