/* Colors */
$averyred: #842a30;
$vibrantred: #7a0707;
$errorred: #ffcccc;
$darkgray: #333;
$lightergray: #383838;
$selectgray: #111;
$tablebordergray: #ddd;
$offwhite: #f1f1f1;
$ultraviolet: #5f4b8b;
$averypurple: #5f4b8a;
$vividviolet: #935096;
$pastelpurple: #d9b9eb;
$lightpastelpurple: #e2cfee;
$bluepurple: #c1c1f5;
$navyblue: #4a6196;

/* Sizes */
$navbarheight: 4em;
$navbarlinkpadding: 1em;
$navbarlinkheight: 3em;

// https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

$navtransitiontiming: 0.4s;

/* Default contents behavior */
.wrapper {
    padding: 1rem;
    width: auto;
}

/* Responsive layout */
// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

// OLD STUFF
$smallwidth: 640px;
$medwidth: 641px;
$largewidth: 769px;
/* Responsive layout */
@mixin small() {
    @media only screen and (max-width: $smallwidth) {
        @content;
    }
}

@mixin medium() {
    @media only screen and (min-width: $medwidth) {
        @content;
    }
}

@mixin large() {
    @media only screen and (min-width: $largewidth) {
        @content;
    }
}