/* Colors */
$averyred: #842a30;
$vibrantred: #7a0707;
$errorred: #ffcccc;
$darkgray: #333;
$selectgray: #111;
$tablebordergray: #ddd;
$offwhite: #f1f1f1;
$ultraviolet: #5f4b8b;

/* Sizes */
$navbarheight: 4em;
$navbarlinkpadding: 1em;
$navbarlinkheight: 3em;

/* Default contents behavior */
.wrapper {
    float: left;
    padding: 1rem;
    width: 100%;
}

/* Responsive layout */
@mixin small() {
    @media only screen and (max-width: 640px) {
        @content;
    }
}

@mixin medium() {
    @media only screen and (min-width: 641px) {
        @content;
    }
}

@mixin large() {
    @media only screen and (min-width: 769px) {

    }
}
